{% extends "layout.html" %} {% block body %}
<p>registered people are:</p>
<ul>
  {% for student in students %}
  <li>{{ student }}</li>
  {% endfor %}
</ul>
<form action="/register" method="POST">
  <input type="text" name="name" placeholder="name" />
  <input type="text" name="city" placeholder="city" />
  <input type="email" name="email" placeholder="email" />
  <input type="submit" value="Send" />
</form>
{% endblock %}